.content {
  margin-top: 2rem;

  li {
    display: block;
    margin-bottom: 3rem;
    transition: filter 300ms;

    &:hover {
      filter: brightness(70%);
    }
  }

  h2 {
    font-size: 1.8rem;
    font-size: 700;
    line-height: 2rem;
    margin-bottom: 0.5rem;
  }

  h3, h4, button {
    font-size: 1.08rem;
    font-weight: 400;
    line-height: 2rem;
  }

  button {
    border: none;
    background: none;
    color: var(--pink);

    &:hover {
      text-decoration: underline;
    }
  }
}
