.banner {
  width: 100%;
  height: 400px;
  background: var(--gray);
  margin-bottom: 5rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  // Viewport <= 720px
  @media screen and (max-width: 720px) {
    height: 200px;
  }
}

.content {
  margin-bottom: 8rem;

  ol, ul {
    margin-left: 1.4rem;
    margin-bottom: 1.4rem;
  }

  a {
    word-break: break-word;
    color: var(--pink);

    &:hover {
      text-decoration: underline;
    }
  }

  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 1rem;
  }

  h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    line-height: 3rem;
  }

  p {
    font-size: 1.09rem;
    line-height: 1.5rem;
    margin: 2rem 0;
  }

  hr {
    height: 1px;
  }

  .edited {
    color: var(--gray);
    font-size: 0.85rem;
    font-style: italic;
    margin-top: 0.8rem;
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pagination {
  padding-top: 1.4rem;
  border-top: 1px solid var(--light-gray);

  div {
    max-width: 250px;
    margin-top: 1rem;

    a, h5 {
      font-size: 0.85rem;
      font-weight: 400;
    }

    a {
      display: block;
      line-height: 1.5rem;
    }
  }
}

.leftPagination { float: left; }
.rightPagination { float: right; }

// Viewport <= 560px
@media screen and (max-width: 560px) {
  .leftPagination,
  .rightPagination { float: none; }
}
